/* 
Colors:
#E6EED6 Beige
#DDE2C6 Beige (slightly darker)
#BBC5AA Laurel Green
#A72608 Rufous (Bright Red)
#090C02 Smoky Black
*/
:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --main-bg-color: #BBC5AA; 
    --image-border-color: #A72608;
    --main-text-color: #090C02;
    --alt-bg-color: #DDE2C6;
}

html {
    color: var(--main-text-color);
    min-height: 100vh;
    background-color: var(--main-bg-color);
}
body {
    margin: 0;
    box-sizing: border-box;
    padding: 8px 16px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 75px 1fr 100px;
    grid-template-areas: 
        "header header header"
        "sidebarL main sidebarR"
        "footer footer footer";
    row-gap: 10px;
}
header { 
    display: flex;
    justify-content: space-around;
    grid-area: header;
} 
header img {
    max-height: 100%;
    transition: all 200ms ease;
}

header img:hover {
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,.3));
    transform: translateY(-2px);
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

header > nav > a {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--image-border-color);
    border: solid 3px var(--image-border-color);
    border-radius: 40% 80% 90% 40% / 40% 40% 90% 90%;
    color: white;
    text-decoration: none;
    will-change: transform, background-color, color, box-shadow;
}

header > nav > a:hover {
    color: var(--image-border-color);
    background-color: white;
    transform: translateY(-1px);
    box-shadow: 12px 7px 1px rgba(0,0,0,.3);
}

main > #banner {
    /* background-color: var(--image-border-color); */
    width: 100%;
    background-color: var(--alt-bg-color);
    border: solid 3px var(--image-border-color);
    border-radius: 40% 80% 90% 40% / 40% 40% 90% 90%;
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}


main > #banner > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > #banner #social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

main > #banner .social-link-image {
    width: 30px;
}

main {
    grid-area: main;
}

main img {
    width: 500px;    
}

.border-image {
    border: solid 3px #A72608;
    border-radius: 60% 40% 50% 70% / 80% 70% 70% 50%;
    transition: all 200ms ease;
    will-change: border-radius;
}

.border-image:hover {
    border-radius: 20%;
}

@media only screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    header > nav {
        width: 300px;
    }

    header > nav > a {
        width: 80px;
        height: 40px;
        font-size: .8rem;
    }
}   

@media only screen and (max-width: 450px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 75px 1fr 100px;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    header {
        align-items: center;
    }
    
    
    header > a > img {
        width: 100px;
    }

    header > nav {
        width: 200px;
    }

    header > nav > a {
        width: 60px;
        height: 30px;
        font-size: .8rem;
    }

    main > #banner {
        height: 175px;
        width: 100%;
    }

    main > #banner img {
        width: 80%;
    }

    main > #banner #social-links {
        margin-top: 10px;
        width: 150px;
    }


}
